<!DOCTYPE html>
<html>
<head>
    <title>LookinLabs DSB</title>
    <!-- Add Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-200">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-xs">
        <img src="/img/logo.png" alt="Logo" class="mx-auto mb-4 w-48 h-48">        <form action="/" method="post">
            <div class="mb-4">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-600">Username:</label>
                <input type="text" id="username" name="username" class="block w-full p-2 border border-gray-300 rounded bg-gray-200 placeholder-gray-500">
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password:</label>
                <input type="password" id="password" name="password" class="block w-full p-2 border border-gray-300 rounded bg-gray-200 placeholder-gray-500">
            </div>
            <input type="submit" value="Submit" class="block w-full p-2 text-white bg-blue-500 rounded hover:bg-blue-600">
        </form>
        <% if (typeof message !== 'undefined') { %>
            <p style="color: red;"><%= message %></p>
        <% } %>
    </div>
</body>
</html>